<mat-card class="customCard">
  <img mat-card-image src="https://i.pinimg.com/originals/c6/68/4b/c6684b9133ef7d9104b62cc4b94b4d22.jpg"
    alt="Photo of a Shiba Inu" />
  <mat-card-header>
    <div mat-card-avatar class="avatarCard">
      <fa-icon [icon]="faLaptopCode" size="2x"></fa-icon>
    </div>
    <mat-card-title>
      Homero Simpson
    </mat-card-title>
    <mat-card-subtitle>2006</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
  </mat-card-content>
</mat-card>