<mat-toolbar>
  <span>{{title}}</span>
</mat-toolbar>
<br>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
  <mat-form-field class="selector">
    <mat-label>Especialidad</mat-label>
    <mat-select [(value)]="especialidadSelec">
      <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.value">
        {{ especialidad.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="selector">
    <mat-label>Ciclo Lectivo</mat-label>
    <mat-select [(value)]="cicloSelec">
      <mat-option *ngFor="let cicloLectivo of cicloLectivos" [value]="cicloLectivo.value">
        {{ cicloLectivo.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="selector">
    <mat-label>Turno</mat-label>
    <mat-select [(value)]="turnoSelec">
      <mat-option *ngFor="let turno of turnos" [value]="turno.value">
        {{ turno.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" class="btnBuscar"
    (click)="buscarAlumnos(especialidadSelec, turnoSelec, cicloSelec)">BUSCAR</button>
</div>
<br>
<div class="mat-elevation-z8">
  <mat-accordion *ngFor="let graduado of graduados">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ graduado.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <b>Especialidad</b>: {{graduado.area}}
      <br>
      <br>
      <b>Ciclo Lectivo</b>: {{graduado.cicloLectivo}}
      <br>
      <br>
      <b>Turno</b>: {{graduado.turno}}
    </mat-expansion-panel>
  </mat-accordion>
</div>